.Bd\(0\) {
  border: 0;
}
.Bdc\(textColor\) {
  border-color: #cacaca;
}
.Bdc\(white\) {
  border-color: white;
}
.Bds\(s\) {
  border-style: solid;
}
.Bdw\(1px\) {
  border-width: 1px;
}
.Bdbw\(0\) {
  border-bottom-width: 0;
}
.Bdrs\(16px\) {
  border-radius: 16px;
}
.Bdrs\(32px\) {
  border-radius: 32px;
}
.Bdrs\(3px\) {
  border-radius: 3px;
}
.Bdrs\(50px\) {
  border-radius: 50px;
}
.Bdrs\(5px\) {
  border-radius: 5px;
}
.Bgi\(gradient\) {
  background-image: linear-gradient(89.75deg, #5328a1 32.83%, #95390c 81.56%);
}
.Bgi\(homeBanner\) {
  background-image: url("../images/banner.png");
}
.Bgi\(iconHeart\) {
  background-image: url("../images/svg/heart.svg");
}
.Bgi\(iconPlay\) {
  background-image: url("../images/svg/play-button.svg");
}
.Bgi\(mortenHarket\) {
  background-image: url("../images/Morten_Harket.png");
}
.Bgi\(subscribe_1\) {
  background-image: url("../images/subscribe_1.png");
}
.Bgi\(subscribe_2\) {
  background-image: url("../images/subscribe_2.png");
}
.Bgi\(subscribe_3\) {
  background-image: url("../images/subscribe_3.png");
}
.Bgc\(bgColor\) {
  background-color: #08020d;
}
.Bgc\(blue1\) {
  background-color: #5328a1;
}
.Bgc\(buttonColor1\) {
  background-color: #34C176;
}
.Bgc\(darkGrey\) {
  background-color: #3c3b3d;
}
.Bgc\(darkOrange\) {
  background-color: #95390c;
}
.Bgc\(t\) {
  background-color: transparent;
}
.Bgc\(buttonColor2\)\:h:hover {
  background-color: #2ba564;
}
.Bgz\(20px\) {
  background-size: 20px;
}
.Bgz\(cv\) {
  background-size: cover;
}
.Bgp\(c\) {
  background-position: center;
}
.Bgpx\(31px\) {
  background-position-x: 31px;
}
.Bgpy\(c\) {
  background-position-y: 50%;
}
.Bgr\(nr\) {
  background-repeat: no-repeat;
}
.Bxz\(bb\) {
  box-sizing: border-box;
}
.C\(lightGrey\) {
  color: #e0e0e0;
}
.C\(orange1\) {
  color: #f89202;
}
.C\(textColor\) {
  color: #cacaca;
}
.C\(white\) {
  color: white;
}
.C\(white\)\:\:ph::placeholder {
  color: white;
}
.C\(white\)\:h:hover {
  color: white;
}
.Cur\(p\) {
  cursor: pointer;
}
.D\(f\) {
  display: flex;
}
.D\(if\) {
  display: inline-flex;
}
.As\(fs\) {
  align-self: flex-start;
}
.Fld\(c\) {
  flex-direction: column;
}
.Ai\(c\) {
  align-items: center;
}
.Jc\(c\) {
  justify-content: center;
}
.Jc\(sb\) {
  justify-content: space-between;
}
.Flw\(w\) {
  flex-wrap: wrap;
}
.Ff\(btnFont\) {
  font-family: Arial, Verdana, sans-serif;
}
.Ff\(roboto\) {
  font-family: Roboto, Verdana, sans-serif;
}
.Fw\(400\) {
  font-weight: 400;
}
.Fw\(700\) {
  font-weight: 700;
}
.Fz\(11px\) {
  font-size: 11px;
}
.Fz\(12\.8px\) {
  font-size: 12.8px;
}
.Fz\(12px\) {
  font-size: 12px;
}
.Fz\(13\.3px\) {
  font-size: 13.3px;
}
.Fz\(14px\) {
  font-size: 14px;
}
.Fz\(18px\) {
  font-size: 18px;
}
.Fz\(24px\) {
  font-size: 24px;
}
.Fz\(30px\) {
  font-size: 30px;
}
.Fz\(32px\) {
  font-size: 32px;
}
.Fz\(38px\) {
  font-size: 38px;
}
.Fz\(60px\) {
  font-size: 60px;
}
.Fz\(64px\) {
  font-size: 64px;
}
.H\(25px\) {
  height: 25px;
}
.H\(50px\) {
  height: 50px;
}
.H\(53px\) {
  height: 53px;
}
.H\(57px\) {
  height: 57px;
}
.H\(62px\) {
  height: 62px;
}
.List\(n\) {
  list-style-type: none;
}
.Lh\(100\%\) {
  line-height: 100%;
}
.Lh\(150\%\) {
  line-height: 150%;
}
.Lh\(16px\) {
  line-height: 16px;
}
.Lh\(19px\) {
  line-height: 19px;
}
.Lh\(24px\) {
  line-height: 24px;
}
.Lh\(27px\) {
  line-height: 27px;
}
.Lh\(36px\) {
  line-height: 36px;
}
.Lh\(45px\) {
  line-height: 45px;
}
.Lh\(57px\) {
  line-height: 57px;
}
.Lh\(90px\) {
  line-height: 90px;
}
.Mt\(0\) {
  margin-top: 0;
}
.Mt\(16px\) {
  margin-top: 16px;
}
.Mt\(24px\) {
  margin-top: 24px;
}
.Mend\(-25px\) {
  margin-right: -25px;
}
.Mend\(15px\) {
  margin-right: 15px;
}
.Mend\(16px\) {
  margin-right: 16px;
}
.Mend\(24px\) {
  margin-right: 24px;
}
.Mend\(25px\) {
  margin-right: 25px;
}
.Mend\(90px\) {
  margin-right: 90px;
}
.Mend\(a\) {
  margin-right: auto;
}
.Mb\(0\) {
  margin-bottom: 0;
}
.Mb\(15px\) {
  margin-bottom: 15px;
}
.Mb\(16px\) {
  margin-bottom: 16px;
}
.Mb\(17px\) {
  margin-bottom: 17px;
}
.Mb\(18px\) {
  margin-bottom: 18px;
}
.Mb\(200px\) {
  margin-bottom: 200px;
}
.Mb\(24px\) {
  margin-bottom: 24px;
}
.Mb\(25px\) {
  margin-bottom: 25px;
}
.Mb\(30px\) {
  margin-bottom: 30px;
}
.Mb\(40px\) {
  margin-bottom: 40px;
}
.Mb\(48px\) {
  margin-bottom: 48px;
}
.Mb\(50px\) {
  margin-bottom: 50px;
}
.Mb\(63px\) {
  margin-bottom: 63px;
}
.Mb\(65px\) {
  margin-bottom: 65px;
}
.Mstart\(-25px\) {
  margin-left: -25px;
}
.Mstart\(25px\) {
  margin-left: 25px;
}
.Mstart\(a\) {
  margin-left: auto;
}
.Maw\(1200px\) {
  max-width: 1200px;
}
.Maw\(19px\) {
  max-width: 19px;
}
.Maw\(248px\) {
  max-width: 248px;
}
.Maw\(24px\) {
  max-width: 24px;
}
.Maw\(250px\) {
  max-width: 250px;
}
.Maw\(270px\) {
  max-width: 270px;
}
.Maw\(273px\) {
  max-width: 273px;
}
.Maw\(333px\) {
  max-width: 333px;
}
.Maw\(366\.6px\) {
  max-width: 366.6px;
}
.Maw\(55px\) {
  max-width: 55px;
}
.Maw\(570px\) {
  max-width: 570px;
}
.Maw\(575px\) {
  max-width: 575px;
}
.Maw\(600px\) {
  max-width: 600px;
}
.Miw\(200px\) {
  min-width: 200px;
}
.O\(0\) {
  outline: 0;
}
.T\(25px\) {
  top: 25px;
}
.End\(0\) {
  right: 0;
}
.Start\(0\) {
  left: 0;
}
.Pt\(100px\) {
  padding-top: 100px;
}
.Pt\(200px\) {
  padding-top: 200px;
}
.Pt\(20px\) {
  padding-top: 20px;
}
.Pt\(250px\) {
  padding-top: 250px;
}
.Pt\(40px\) {
  padding-top: 40px;
}
.Pt\(5px\) {
  padding-top: 5px;
}
.Pt\(62px\) {
  padding-top: 62px;
}
.Pend\(10px\) {
  padding-right: 10px;
}
.Pend\(20px\) {
  padding-right: 20px;
}
.Pend\(30px\) {
  padding-right: 30px;
}
.Pend\(32px\) {
  padding-right: 32px;
}
.Pend\(40px\) {
  padding-right: 40px;
}
.Pb\(100px\) {
  padding-bottom: 100px;
}
.Pb\(200px\) {
  padding-bottom: 200px;
}
.Pb\(20px\) {
  padding-bottom: 20px;
}
.Pb\(220px\) {
  padding-bottom: 220px;
}
.Pb\(49px\) {
  padding-bottom: 49px;
}
.Pb\(5px\) {
  padding-bottom: 5px;
}
.Pb\(72px\) {
  padding-bottom: 72px;
}
.Pstart\(0\) {
  padding-left: 0;
}
.Pstart\(10px\) {
  padding-left: 10px;
}
.Pstart\(20px\) {
  padding-left: 20px;
}
.Pstart\(22px\) {
  padding-left: 22px;
}
.Pstart\(30px\) {
  padding-left: 30px;
}
.Pstart\(32px\) {
  padding-left: 32px;
}
.Pstart\(40px\) {
  padding-left: 40px;
}
.Pstart\(67px\) {
  padding-left: 67px;
}
.Pos\(a\) {
  position: absolute;
}
.Pos\(r\) {
  position: relative;
}
.Ta\(c\) {
  text-align: center;
}
.Ta\(start\) {
  text-align: left;
}
.Td\(n\) {
  text-decoration: none;
}
.Td\(u\)\:h:hover {
  text-decoration: underline;
}
.Tt\(c\) {
  text-transform: capitalize;
}
.Tt\(u\) {
  text-transform: uppercase;
}
.Tt\(u\)\:\:ph::placeholder {
  text-transform: uppercase;
}
.Trsdu\(\.3s\) {
  transition-duration: .3s;
}
.W\(100\%\) {
  width: 100%;
}
.W\(100px\) {
  width: 100px;
}
.W\(trackWidth\) {
  width: calc(50% - 50px);
}
.Z\(1\) {
  z-index: 1;
}
@media (max-width:699px) {
  .Fld\(c\)--sm {
    flex-direction: column;
  }
  .Mend\(0\)--sm {
    margin-right: 0;
  }
  .Mb\(16px\)--sm {
    margin-bottom: 16px;
  }
  .Maw\(137px\)--sm {
    max-width: 137px;
  }
}
@media (max-width:999px) {
  .D\(f\)--md {
    display: flex;
  }
  .As\(fs\)--md {
    align-self: flex-start;
  }
  .Fld\(c\)--md {
    flex-direction: column;
  }
  .Ai\(fs\)--md {
    align-items: flex-start;
  }
  .Fw\(700\)--md {
    font-weight: 700;
  }
  .Fz\(12\.8px\)--md {
    font-size: 12.8px;
  }
  .Fz\(16px\)--md {
    font-size: 16px;
  }
  .Fz\(18px\)--md {
    font-size: 18px;
  }
  .Fz\(30px\)--md {
    font-size: 30px;
  }
  .Lh\(150\%\)--md {
    line-height: 150%;
  }
  .Lh\(24px\)--md {
    line-height: 24px;
  }
  .Lh\(27px\)--md {
    line-height: 27px;
  }
  .Lh\(45px\)--md {
    line-height: 45px;
  }
  .Mt\(48px\)--md {
    margin-top: 48px;
  }
  .Mend\(0\)--md {
    margin-right: 0;
  }
  .Mb\(16px\)--md {
    margin-bottom: 16px;
  }
  .Mb\(17px\)--md {
    margin-bottom: 17px;
  }
  .Mb\(18px\)--md {
    margin-bottom: 18px;
  }
  .Mb\(24px\)--md {
    margin-bottom: 24px;
  }
  .Mb\(25px\)--md {
    margin-bottom: 25px;
  }
  .Mb\(30px\)--md {
    margin-bottom: 30px;
  }
  .Mb\(3px\)--md {
    margin-bottom: 3px;
  }
  .Mstart\(0\)--md {
    margin-left: 0;
  }
  .Maw\(380px\)--md {
    max-width: 380px;
  }
  .Maw\(n\)--md {
    max-width: none;
  }
  .Pt\(225px\)--md {
    padding-top: 225px;
  }
  .W\(a\)--md {
    width: auto;
  }
}
@media (max-width:1239px) {
  .Fld\(c\)--lg {
    flex-direction: column;
  }
  .Ai\(c\)--lg {
    align-items: center;
  }
  .Or\(-1\)--lg {
    order: -1;
  }
  .Fz\(16px\)--lg {
    font-size: 16px;
  }
  .Lh\(24px\)--lg {
    line-height: 24px;
  }
  .Mt\(0\)--lg {
    margin-top: 0;
  }
  .Mt\(16px\)--lg {
    margin-top: 16px;
  }
  .Mb\(16px\)--lg {
    margin-bottom: 16px;
  }
  .Mb\(50px\)--lg {
    margin-bottom: 50px;
  }
}
