@font-face {
  font-weight: 400;
  font-family: Roboto;
  src: url("../fonts/Roboto/Roboto-Regular.ttf");
}

@font-face {
  font-weight: 500;
  font-family: Roboto;
  src: url("../fonts/Roboto/Roboto-Medium.ttf");
}

@font-face {
  font-weight: 700;
  font-family: Roboto;
  src: url("../fonts/Roboto/Roboto-Bold.ttf");
}
