$fonts: (
	roboto-regular: (400, Roboto, "Roboto/Roboto-Regular.ttf"),
	roboto-medium: (500, Roboto, "Roboto/Roboto-Medium.ttf"),
	roboto-bold: (700, Roboto, "Roboto/Roboto-Bold.ttf")
);

@mixin generateFont($font-weight, $font-name, $path-to-font) {
	@font-face {
		font-weight: $font-weight;
		font-family: $font-name;
		src: url("fonts/#{$path-to-font}");
	}
}

@each $font, $font-details in $fonts {
	$font-weight: nth($font-details, 1);
	$font-name: nth($font-details, 2);
	$path: nth($font-details, 3);
	@include generateFont($font-weight, $font-name, $path);
}
